$blue: rgb(0, 183, 255);
$cyan:rgb(0,255,255);
@mixin flexShortcut($content, $items, $direction) {
    display: flex;
    justify-content: $content;
    align-items: $items;
    flex-direction: $direction;
}

.home-aside {
    @include flexShortcut(flex-start, flex-start, column);
    // display:  flex;
    position: sticky;
    top: 0;
    height: 100vh;
    // flex-direction: column;
    // align-items: flex-start;
    // justify-content: flex-start;
    margin: 0 1%;
    .brand i {
        font-size: xx-large;
        margin: 10% 0;
    }
    a {
        font-size: x-large;
        font-weight: bold;
        padding: 4%;
        border-radius: 1em;
        margin: 5% 0;
        transition: all 0.2s ease-in;
        &:hover {
            color: $blue;
            background-color: change-color($color: $cyan, $alpha: 0.08);
        }
    }
    .tweet-post {
        margin: 1em 0;
        font-size:large;
        font-weight: bold;
        padding: 0.5em;
        border-radius: 1em;
        width: 100%;
    }
    .user-pill {
        margin-top: auto;
        margin-bottom: 5%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        img {
            height: 4em;
            width: 4em;
            border-radius: 4em;
            margin-right: 1%;
        }
        button {
            margin-left: 0.5em;
            border-radius: 1em;
        }
    }
}

.selected {
    color: $blue;
}