.feed {
    min-width: fit-content;
    flex: 0.5;
    
    background-color: $lightgray;
}


.feed__header {
    position:sticky;
    top: 0;
    z-index: 100000;
    background-color: $white;
    border: 0.1rem $lightestgray solid;
    padding: 0.5rem;
}

.new__tweet {
    overflow: hidden;
    background-color: $white;
    @include flexShortcut(center, stretch, row);
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border: 0.1rem solid $lightestgray;

    & img {
        vertical-align: middle;
        width: 4rem;
        height: 4rem;
        border-radius: 4rem;
        margin: 0 1rem;
    }

    .tweet-content {
        margin: 0 0.5rem;
        flex-grow: 1;
        @include flexShortcut(center, stretch, column);

        textarea {
            font-size: x-large;
            max-height: 60vh;
            background: none;
            border: none;
            margin-bottom: 2rem;
            resize: none;

            &:focus {
                transition: all 0.2s ease-out;
                border-bottom: 0.1rem solid $gray;
            }
        }
    }

    button {
        margin: 1rem 0;
        font-size: large;
        font-weight: bold;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
        margin-left: auto;
    }
}

.tweetList {
    margin-top: 1rem;
    background-color: $white;
    border: 0.1rem $lightestgray solid;
}

.tweet {
    display: flex;
    border-bottom: 0.1rem $lightestgray solid;
    padding: 0.5rem;
    &:hover {
        background-color: $gray-white;
    }
    img {
        vertical-align: middle;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 4rem;
        margin-right: 1rem;

        &:hover {
            filter: grayscale(0.2);
        }
    }
}

.tweet__area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tweet__body {
    display: flex;

    a:not(.text-muted) {
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    .text-muted {
        font-size: 0.8rem;
    }

    span {
        margin-left: auto;
        margin-right: 0.5rem;
    }

    p {
        padding-top: 0.5rem;
        font-size: 1.1rem;
        white-space: pre-wrap;
    }
}

.tweet--hashtag {
    color: $twitter-blue;
    font-style: italic;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.tweet__options {
    margin-top: 1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    i {
        padding: 0.3em;
        border-radius: 1em;
    }
}

.fas,
.far,
.fab {
    transition: background-color 250ms ease-in-out;
}

.fa-trash:hover {
    color: $heart;
    background-color: change-color($color: $heart, $alpha: 0.1);
}

.fa-heart:hover {
    color: $heart;
    background-color: change-color($color: $heart, $alpha: 0.1);
}

.fa-comment:hover {
    color: $twitter-blue;
    background-color: change-color($color: $twitter-blue, $alpha: 0.1);
}

.fa-share:hover {
    color: $share;
    background-color: change-color($color: $share, $alpha: 0.1);
    ;
}

.fa-ellipsis-v:hover {
    color: $share;
}

//DROPDOWN 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    padding: 1rem;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 101;
    border-radius: 1rem;
    transition :visibility 0s ease-in 0.3s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.user__dropdown {
    display: flex;
    align-items:center;
    justify-content: space-between;
    button {
        margin: 1rem 0;
        font-weight: bold;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        margin-left: 5rem;
    }
}

.user__dropdown__options {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 0;
}