$twitter-blue:#1da1f2;
$white: #fff;
$gray: #808080;
$lightgray: #d3d3d348;
$lightestgray: #ededed;
$gray-white: #ededed71;
$heart: #cc003d;
$share: #90ee90;
$hoverColor:#1da0f218;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}


body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    background: $twitter-blue;
    color: $white;
    padding: 1rem;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:disabled {
        background-color: change-color($color: $twitter-blue, $alpha: 0.4);
    }
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

input,
textarea {
    box-shadow: none;

    &:focus {
        outline: none;
    }
}

i {
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
    &:hover {
        background-color: $hoverColor;
        color: $twitter-blue;
    }
}

.text-muted {
    color: $gray;
    font-weight: 200;
}

.underlined {
    text-decoration: underline;
}

.pointer {
    cursor: pointer;
}

.fas,
.far,
.fab {
    transition: background-color 250ms ease-in-out;
}

.selected {
    color: $twitter-blue;
}

.app {
    display: flex;
    z-index: 0;
    position: relative;
}

.sidebar {
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow: auto;
    flex-grow: 1;
    align-items: flex-end;
    z-index: 3;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .brand {
        padding: 0 1em;
        font-size: xx-large;
        margin: 0.5em 0;
    }

    .align {
        margin-right: 1em;
        height: 100%;
    }
}

.sidebarOption {
    display: flex;
    font-size: x-large;
    padding: 0.2em 1em;

    a {
        transition: color 200ms ease-out;
        border-radius: 5em;
        padding: 0.5em;

        &:hover {
            background-color: $hoverColor;
            color: $twitter-blue;
        }
    }

    i {
        margin-right: 1em;
    }

    .text {
        font-weight: 600;
    }

}

@media only screen and (max-width:1250px) {
    .sidebarOption {
        i {
            margin: 0;
        }

        .text {
            display: none;
        }
    }
}

.sidebar__tweet__post {
    margin: 1em 0;
    font-size: large;
    font-weight: bold;
    padding: 0.8em 5em;
    border-radius: 2rem;
    transition: all 250ms ease-out;

    &:hover {
        background-color: change-color($color: $twitter-blue, $saturation: 70%);
    }
}

.user__pill {
    margin-bottom: 1em;
    display: flex;
    border-radius: 5em;
    padding: 1em;

    img {
        height: 2em;
        width: 2em;
        border-radius: 4em;
        margin-right: 0.2em;
    }

    i {
        margin: auto 0.2rem auto auto;
    }

    &:hover {
        background-color: $hoverColor;
    }
}









.main {
    flex-grow: 2;
    align-items: flex-start;
    flex-shrink: 1;
    z-index: 0;
    display: flex;
    margin: 0 0.5em;
}

.feed {
    width: 600px;
    background-color: $lightgray;
}
.feed__header {
    position:sticky;
    top: 0;
    z-index: 3;
    background-color: $white;
    border: 1px $lightestgray solid;
    padding: 0.5em;
}

.new__tweet {
    background-color: $white;
    display:flex;
    justify-content: center;
    padding: 0.5em 0;
    margin-bottom: 1em;
    border: 1px solid $lightestgray;

    img {
        vertical-align: middle;
        width: 3.5em;
        height: 3.5em;
        border-radius: 4em;
        margin: 0 0.8em;
    }

    .tweet-content {
        margin: 0 0.5rem;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;

        textarea {
            font-size: x-large;
            border: none;
            margin-bottom: 2rem;
            resize: none;
            transition: all 0.4s ease-in;
            &:focus {
                border-bottom: 2px solid $gray;
            }
        }
    }
}

.new__tweet__options {
    display: flex;
    width: 100%;
    i {
        color: $twitter-blue;
        font-size: 20px;
        padding: 10px;
    }
    button {
        margin-left: auto;
        font-size: large;
        font-weight: 500;
        padding: 0.5rem 2rem;
        border-radius: 2rem;
    }
}











.tweetList {
    margin-top: 1rem;
    background-color: $white;
    border: 1px $lightestgray solid;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    padding: 1em;
    color: $twitter-blue;
}

.tweet {
    display: flex;
    border-bottom: 0.1rem $lightestgray solid;
    padding: 0.8em;
    &:hover {
        background-color: $gray-white;
    }
    img {
        vertical-align: middle;
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 4rem;
        margin-right: 1rem;

        &:hover {
            filter: grayscale(0.2);
        }
    }
}

.tweet__area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.tweet__body {
    display: flex;

    a:not(.text-muted) {
        font-weight: 700;

        &:hover {
            text-decoration: underline;
        }
    }

    .text-muted {
        font-size: 0.8rem;
    }

    span {
        margin-left: auto;
        margin-right: 0.5rem;
    }

    p {
        padding-top: 0.5rem;
        font-size: 1.1rem;
        white-space: pre-wrap;
    }
}

.tweet--hashtag {
    color: $twitter-blue;
    font-style: italic;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.tweet__options {
    margin-top: 1em;
    padding:0 2em;
    display: flex;
    justify-content: space-between;

    i {
        padding: 0.3em;
        border-radius: 1em;
    }
}

// .fa-trash:hover {
//     color: $heart;
//     background-color: change-color($color: $heart, $alpha: 0.1);
// }

.fa-heart:hover {
    color: $heart;
    background-color: change-color($color: $heart, $alpha: 0.1);
}

.fa-comment:hover {
    color: $twitter-blue;
    background-color: change-color($color: $twitter-blue, $alpha: 0.1);
}

.fa-share:hover {
    color: $share;
    background-color: change-color($color: $share, $alpha: 0.1);
    ;
}

.fa-ellipsis-v:hover {
    color: $share;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    padding: 1em;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 0.7em;
    transition :visibility 0s ease-in 0.3s;
}

.dropdown:hover .dropdown-content {
    visibility: visible;
}

.user__dropdown {
    display: flex;
    align-items:center;
    justify-content: space-between;
    button {
        margin: 1rem 0;
        font-weight: bold;
        padding: 0.5em 1em;
        border-radius: 2rem;
        margin-left: 5rem;
    }
}

.user__dropdown__options {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    padding: 0;
}
// @import './sidebar';
// @import './feed';
// @import './newsfeed';
// @import './input';