* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: #1da1f2;
  color: #fff;
  padding: 1rem;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: rgba(29, 161, 242, 0.4);
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

input,
textarea {
  -webkit-box-shadow: none;
          box-shadow: none;
}

input:focus,
textarea:focus {
  outline: none;
}

i {
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.text-muted {
  color: #808080;
  font-weight: 200;
}

.underlined {
  text-decoration: underline;
}

.pointer {
  cursor: pointer;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  padding: 0 10px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  margin: 0 1%;
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand {
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #1da1f2;
  padding: 1rem;
  border-radius: 5rem;
}

.brand:hover {
  background-color: #1da0f218;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

.sidebarOption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: x-large;
}

.sidebarOption a {
  padding: 1rem;
  border-radius: 3rem;
}

.sidebarOption a:hover {
  background-color: #1da0f218;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  color: #1da1f2;
}

.sidebarOption i::before {
  margin-right: 1rem;
}

.selected {
  color: #1da1f2;
}

.sidebar__tweet__post {
  margin: 1rem 0;
  font-size: large;
  font-weight: bold;
  padding: 1rem 5rem;
  border-radius: 2rem;
}

.sidebar__user__pill {
  margin-top: auto;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5rem;
  padding: 1rem;
}

.sidebar__user__pill img {
  height: 2rem;
  width: 2rem;
  border-radius: 4rem;
  margin-right: 0.2rem;
}

.sidebar__user__pill i {
  margin: auto 0.2rem auto auto;
}

.sidebar__user__pill:hover {
  background-color: #1da0f218;
}

.feed {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  overflow-y: scroll;
  background-color: #d3d3d348;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed__header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  border: 0.1rem #ededed solid;
  padding: 0.5rem;
}

.new__tweet {
  overflow: hidden;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border: 0.1rem solid #ededed;
}

.new__tweet img {
  vertical-align: middle;
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  margin: 0 1rem;
}

.new__tweet .tweet-content {
  margin: 0 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.new__tweet .tweet-content textarea {
  font-size: x-large;
  max-height: 60vh;
  background: none;
  border: none;
  margin-bottom: 2rem;
  resize: none;
}

.new__tweet .tweet-content textarea:focus {
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  border-bottom: 0.1rem solid #808080;
}

.new__tweet button {
  margin: 1rem 0;
  font-size: large;
  font-weight: bold;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  margin-left: auto;
}

.tweetList {
  margin-top: 1rem;
  background-color: #fff;
  border: 0.1rem #ededed solid;
  padding: 0.5rem;
}

.tweet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1rem #ededed solid;
  padding: 0.5rem;
}

.tweet img {
  vertical-align: middle;
  width: 3rem;
  height: 3rem;
  border-radius: 4rem;
  margin-right: 1rem;
}

.tweet__area {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tweet__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tweet__body a:not(.text-muted) {
  font-weight: 700;
}

.tweet__body a:not(.text-muted):hover {
  text-decoration: underline;
}

.tweet__body span {
  margin-left: auto;
  margin-right: 0.5rem;
}

.tweet__body p {
  padding-top: 0.5rem;
  font-size: 1.1rem;
}

.tweet__options {
  margin-top: 1rem;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tweet__options i {
  padding: 0.3em;
  border-radius: 1em;
}

.fa {
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.fa-trash-o:hover {
  color: #cc003d;
  background-color: rgba(204, 0, 61, 0.1);
}

.fa-heart-o:hover {
  color: #cc003d;
  background-color: rgba(204, 0, 61, 0.1);
}

.fa-comment-o:hover {
  color: #1da1f2;
  background-color: rgba(29, 161, 242, 0.1);
}

.fa-paper-plane-o:hover {
  color: #90ee90;
  background-color: rgba(144, 238, 144, 0.1);
}

.fa-ellipsis-h:hover {
  color: #90ee90;
}

.news__feed {
  -webkit-box-flex: 0.3;
      -ms-flex: 0.3;
          flex: 0.3;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
}

.input-underlined input {
  background: #ffffff;
  border: none;
  border-bottom: 0.125rem solid rgba(19, 19, 21, 0.6);
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}

.input-underlined input:hover {
  background: rgba(73, 133, 224, 0.12);
  border-color: #121212;
}

.input-underlined input:focus + .input-label,
.input-underlined input:valid + .input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}

.input-underlined i {
  position: absolute;
  top: 0.9375rem;
  right: 0.875rem;
  color: rgba(19, 19, 21, 0.6);
}

.input-underlined .input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: rgba(19, 19, 21, 0.6);
  -webkit-transition: top .2s;
  transition: top .2s;
}

.input-underlined .input-helper {
  font-size: 0.9375rem;
  color: rgba(19, 19, 21, 0.6);
  letter-spacing: 0.0275rem;
  margin: 0.125rem 0.875rem;
}

.input-underlined:not(.input-danger) input:focus {
  border-color: #1e4bd1;
}

.input-underlined:not(.input-danger) input:focus .input-underlined i {
  color: #121212;
}

.input-underlined:not(.input-danger) input:focus + .input-label {
  color: #1e4bd1;
}

.input-danger input {
  border-color: #b50706;
}

.input-danger i {
  color: #b50706;
}

.input-danger .input-label,
.input-danger .input-helper {
  color: #b50706;
}
